Reviews.css

.bx-service-section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.reviews-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.review-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.review-item {
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  padding: 20px;
  /* background-color: #fff; */
}

.review-content {
  text-align: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto; 
  background-color: #fff;
  padding: 20px;
}

.review-content blockquote {
  font-size: 2.5em;
  margin: 0;
  padding: 20px;
  quotes: '“' '”' '‘' '’';
}

.review-content blockquote:before {
  content: open-quote;
  font-size: 3em;
  color: #5226e1;
  position: absolute;
  left: 10px;
  top: -10px;
  opacity: 0.1;
}

.review-text {
  margin: 0;
}

.review-author {
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  margin: 0 auto; 
}

.review-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto; 
}

.review-location {
  margin-bottom: 5px;
  font-style: italic;
}

.review-date {
  color: #666;
}

.navigation-buttons {
  display: flex;
  justify-content: center; /* Center the buttons */
  margin-bottom: 20px; /* Add some space below the buttons */
}

.prev-button,
.play-pause-button,
.next-button {
  padding: 8px 15px;
  margin: 0 5px; /* Add spacing between buttons */
  border: none;
  border-radius: 5px;
  background-color: #eee; /* Adjust button styles as needed */
  cursor: pointer;
}
.news-slider {
  display: flex; 
}

.carousel-wrap {
  flex: 1; 
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  /* background-color: #fff; */
  height: 100%; 
}

/* Style for the author section */
.review-author-section {
  display: flex; /* Use flexbox to align image and author name */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 10px; /* Add some spacing above the author section */
}

.review-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Add spacing between picture and name */
  margin: 0 auto;
}